/* WeatherApp.css */

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #5e60ce, #7400b8);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .weather-container {
    background-color: #ffffff10;
    padding: 30px;
    border-radius: 30px;
    text-align: center;
    color: white;
    width: 300px;
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  }
  
  .search-box {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    padding: 5px 15px;
    margin-bottom: 20px;
  }
  
  .search-box input {
    flex: 1;
    border: none;
    outline: none;
    border-radius: 30px;
    padding: 10px;
    font-size: 16px;
  }
  
  .search-box button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .material-icons {
    font-size: 24px;
    color: #444;
  }
  
  .weather-info img {
    width: 100px;
  }
  
  .weather-info h1 {
    font-size: 36px;
    margin: 10px 0;
  }
  
  .weather-info h2 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  
  .weather-details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-top: 20px;
   
  }
  
  .weather-details div {
    text-align: center;
  }
  
  .weather-details p {
    margin: 5px 0;
  }
  
  .weather-js {

    display: none;
  }

 